body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: var(--black);
    align-items: center;
    align-self: stretch;

    gap: var(--32px);
    padding: var(--32px);

    color: var(--white);
    font: normal var(--font-weight-normal) var(--16px)/normal var(--font-family);
    text-align: center;
}

.InstagramLogo {
    width: 64px;
    height: 64px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--16px);
    align-self: stretch;
}

.Input {
    display: flex;
    padding: var(--8px);
    align-items: center;
    align-self: stretch;
    border-radius: var(--4px);
    border: var(--border-width) solid var(--grey);
    background: none;
    color: var(--white);
    font: normal var(--font-weight-normal) var(--16px)/normal var(--font-family);
    font-size: 14px;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: var(--8px);
    border: none;
    border-radius: var(--8px);
    background: var(--blue);
    color: var(--white);
    text-align: center;
    font: var(--16px);
}