body {
    background: var(--black);
    color: var(--white);
    display: flex;
    padding: var(--16px);
    flex-direction: column;
    align-items: center;
    gap: var(--16px);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
}

.CommentsBar {
    display: flex;
    padding: var(--8px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--8px);
    border: var(--border-width) solid var(--grey);
}

.Comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--16px);
    flex: 1 0 0;
    align-self: stretch;
    overflow-y: scroll;
}

.Comment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--8px);
    align-self: stretch;
}

.Avatar {
    --container-size: calc(var(--base-size) * 50/36);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--container-size);
    height: var(--container-size);
    position: relative;
    margin: 0;
}

.StoryOverlay {
    width: var(--container-size);
    height: var(--container-size);
    position: absolute;
}

.ProfilePic {
    width: calc(var(--container-size) * 30/36);
    height: calc(var(--container-size) * 30/36);
    border-radius: 100%;
}

.Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--4px);
    flex: 1 0 0;
    align-self: stretch;
}

.CommentIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--16px);
    align-self: stretch;
}

.CommentIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--8px);
}

.YourComment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--8px);
    align-self: stretch;
    position: sticky;
    bottom: 0;
    padding-bottom: var(--16px);
    padding-top: var(--16px);
}

.CommentBar {
    background: none;
    display: flex;
    padding: var(--8px);
    align-items: center;
    gap: var(--8px);
    flex: 1 0 0;
    border-radius: var(--8px);
    border: var(--border-width) solid var(--grey);
    font: normal 400 var(--font-size-base)/normal var(--font-family);
}