:root {
    --white: #FFF;
    --black: #000;
    --grey: rgba(255, 255, 255, 0.5);

    --red: #FE0135;
    --blue: #4CB5F9;

    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-family: "Instrument Sans";

    --4px: 4px;
    --8px: 8px;
    --12px: 12px;
    --16px: 16px;
    --18px: 18px;
    --24px: 24px;
    --32px: 32px;
}

p {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}