.Stories {
    display: flex;
    align-items: center;
    gap: var(--8px);
    align-self: stretch;
    overflow-x: scroll;
}

.Story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--4px);
}

.Avatar {
    --container-size: 72px;
}

.InstagramPost .Avatar {
    --container-size: 36px;
}

.Posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--16px);
    flex: 1 0 0;
    align-self: stretch;
    overflow-y: scroll;
    padding-bottom: 91.6px;
}

.InstagramPost {
    display: flex;
    border: var(--border-width) solid var(--grey);
    border-radius: var(--8px);
    padding: var(--16px);
    flex-direction: column;
    gap: var(--8px);
    align-self: stretch;
}

.ProfileContainer {
    display: flex;
    padding-bottom: var(--4px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--4px);
}

.Icons {
    display: flex;
    padding-top: var(--4px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.LeftIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--16px);
}

.Comments {
    display: flex;
    padding: var(--8px);
    flex-direction: column;
    gap: var(--4px);
    align-self: stretch;
    border-radius: var(--8px);
    border: var(--border-width) solid var(--grey);
}