.SearchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--16px);
    flex: 1 0 0;
    align-self: stretch;
}

.SearchFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--16px);
    align-self: stretch;
}

.SearchBar {
    background: none;
    display: flex;
    padding: var(--8px);
    align-items: center;
    gap: var(--8px);
    flex: 1 0 0;
    border-radius: var(--8px);
    border: var(--border-width) solid var(--grey);
    font: normal 400 var(--font-size-base)/normal var(--font-family);
}

.CancelButton {
    display: flex;
    padding: var(--8px);
    justify-content: center;
    align-items: center;
    gap: var(--8px);
    border-radius: var(--8px);
    border: var(--border-width) solid var(--grey);
}

.Searches {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16px);
    flex: 1 0 0;
    align-self: stretch;
    overflow-y: scroll;
}

.Search {
    display: flex;
    align-items: center;
    gap: var(--8px);
    align-self: stretch;
}

.Avatar {
    --container-size: 50px;
}

.Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--4px);
    flex: 1 0 0;
    align-self: stretch;
}

.Details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--8px);
}